<nav class="nav">
    <div class="container nav__container">
        <div class="container__left">
            <div class="nav__logo">
                <a href="https://www.starwars.com/" target="_blank">
                    <app-logo></app-logo>
                </a>
            </div>
            <div class="nav__title">
                <h1>Star Wars App</h1>
            </div>
        </div>
        <div class="container__right">
            <div class="nav__links">
                <a href="https://www.starwars.com/films" target="_blank">Films</a>
                <a href="https://www.starwars.com/tv-shows" target="_blank">TV Shows</a>
            </div>
        </div>
    </div>
</nav>
